.garis-bawah
{
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 15px;
}
.dataTables_length
{
    position: relative;
    bottom: 10px;
}
.dataTables_filter
{
    position: relative;
    bottom: 5px;
}

table.dataTable.no-footer {
    /* border-bottom: 1px solid #111; */
    border-bottom: none;
}
